@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300&display=swap');

:root{
 --main-color: #d3ad7f;
 --black: #13131a;
 --bg: #010103;
 --white: #ffffff;
 --border: .1% solid rgba(255, 255, 255, .3);
 
}

*{
 font-family: 'Roboto', sans-serif;
 margin: 0; padding: 0;
 box-sizing: border-box;
 outline: none;border: none;
 text-decoration: none;
 text-transform: capitalize;
 transition: .2s linear;
}

html{
 font-size: 62.5%;
 overflow-x: hidden;
 scroll-padding-top: 9%;
 scroll-behavior: smooth;
}

html ::-webkit-scrollbar{
 width: .8%;
}

html ::-webkit-scrollbar-track{
 background: transparent;
}

html ::-webkit-scrollbar-thumb{
 background: #fff;
 border-radius: 5%;
}

body{
 background: var(--bg);
}

section{
 padding: 2%;
}

.heading{
 text-align: center;
 color: #fff;
 text-transform: uppercase;
 padding-bottom: 3%;
 font-size: 4 rem;
}

.heading span{
 color: var(--main-color);
 text-transform: uppercase;
}

.btn{
  margin-top: 1%;
  display: inline-block;
  padding: .9% 3%;
  font-size: 1.7rem;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
}

.btn:hover{
  letter-spacing: .2%;
}

.header{
 background: var(--bg);
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 1.5% 7%;
 border-bottom: var(--border);
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 z-index: 1000;
}

.header .logo img{
 height: 2%;
}

.header .navbar a{
 margin: 0 1%;
 font-size: 2rem;
 padding: 1%;
 color: #fff;
}

.header .navbar a:hover{
 color: var(--main-color);
 border-bottom: 1% solid var(--main-color);
 padding-bottom: .5%;
}

.header .icons div{
 color: #fff;
 cursor: pointer;
 font-size: 2.5rem;
 margin-left: 2%;
}

.header .icons div:hover{
 color: var(--main-color);
}

#menu-btn{
 display: none;
}

.header .search-form{
 position: absolute;
 top: 115%;
 right: 7%;
 background: #fff;
 width: 50%;
 height: 5%;
 display: flex;
 align-items: center;
 transform: scaleY(0);
 transform: top;
}

.header .search-form input{
 height: 100%;
 width: 100%;
 font-size: 1.6rem;
 color: var(--black);
 padding: 1%;
 text-transform: none;
}

.header .search-form input{
 cursor: pointer;
 font-size: 2.2rem;
 margin-right: 1.5%;
 color: var(--black);
}

.header .search-form label{
 cursor: pointer;
 font-size: 2.2rem;
 margin-right: 1.5%;
 color: var(--black);
}

.header .search-form label:hover{
 color: var(--main-color);
}

.about .row{
  display: flex;
  align-items: center;
  text-align: center;
  background: var(--white);
  flex-wrap: wrap;
}

.about .row .content{
  flex: 1 1 45%;
  padding: 2%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

.about .row  h1{
  font-size: 4rem;
  padding-inline-start: 24%;
  text-transform: uppercase;
  padding-top: 5%;
  text-align: center;
  color: #000000;
}

.about .row .column1 {
  float: left;
  width: 50%;
  padding-bottom: 5%;
}

.about .row .column2{
  float: right;
  width: 50% ;
  padding-bottom: 5%;
}

.about .row::after {
  content: "";
  display: table;
  clear: both;
}

.about .row .column1 .content p{
  font-size: 1.6rem;
  color: #000000;
  padding: 1% 0;
  line-height: 1.8;
}

.about .row .column2 .content p {
  font-size: 1.6rem;
  color: #000000;
  padding: 1% 0;
  line-height: 1.8;
}

.menu .box-container {
  display: grid;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 1.5%;
}

.menu .box-container .box {
  padding: 5%;
  text-align: center;
  border: var(--border);
}

.menu .box-container .box img {
  height: 30%;
}

.menu .box-container .box p{
  color: #fff;
  font-size: 2.5rem;
  padding: 5% 0;;
}

.menu .box-container .box:hover {
  background: #fff;
}

.menu .box-container .box:hover>* {
  color: var(--black)
}

.about1 .row{
  display: flex;
  align-items: center;
  text-align: center;
  background: var(--white);
  flex-wrap: wrap;
}

.about1 .row .content{
  flex: 1 1 45%;
  padding: 2%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

.about1 .row .content h1{
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  color: #000000;

}

.about1 .row .content p{
  font-size: 1.6rem;
  color: #808080;
  padding: 1% 0;
  line-height: 1.8;
}

.about2 .row{
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.about2 .row .column1{
  float: left;
  width: 50%;
  padding-top: 5%;
  padding-bottom: 5%;
  background: darkslategray;
}

.about2 .row .column2{
    float: left;
    width: 50%;
    padding-top: 5%;
    padding-bottom: 5%;
    background: skyblue;
}

.about2 .row .column1 .content h2{
  color: #fff;
}
.about2 .row .column2 .content h2{
  color: #fff;

}
.about2 .row .column1 .content p {
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  padding: 1% 0;
  line-height: 1.8;
}

.about2 .row .column2 .content p {
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  padding: 1% 0;
  line-height: 1.8;
}
.about .row::after {
  content: "";
  display: table;
  clear: both;
}

.footer .row .column1 {
  float: left;
  width: 50%;
}

.footer .row{
    display: flex;
      align-items: center;
      text-align: center;
      background: #808080;
      flex-wrap: wrap;
}
.footer .row .column2 {
  float: right;
  width: 50%;
}

.footer .row::after {
  content: "";
  display: table;
  clear: both;
}

.footer .row .column1 .content p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  padding: 0.5% 0;
  line-height: 1;
}

.footer .row .column2 .content p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  padding: 0.5% 0;
  line-height: 1;
}

.footer .row .column2 .content span{
  color: aqua;
}

@media(max-width:991px){
 html {
   font-size: 55%;
   .header{
    padding: 1.5% 2%;
   }
 }
}

@media(max-width:768px){
  #menu-btn{
    display: inline-block;
  }

.header .navbar{
  position: absolute;
  top: 100%; right: 0;
  background: #fff;
  width: 30%;
  height: calc(100 -9.5%);
}

.header .navbar a{
  color: var(--black);
  display: block;
  margin: 1.5%;
  padding: .5%;
  font-size: 2rem;
}

.header .search-form{
  width: 90%;
  right: 2%;
}
}

@media (max-width: 450px){
  html{
    font-size: 50%;
  }
}

.Home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(/pexels-photo-1181216.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.Home .content{
  flex: 1 1 45%;
  padding: 2%;
  text-align: center;
}

.Home .content h1{
  font-size: 6rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.Home .content p{
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  text-align: justify;
  padding: 1% 0;
  color: #eee;
}

.Home .content a{
  background: var(--black);
}